<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>709155097090-3ipklh0193arf6s0k9gpmcpfpg11t5o1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.709155097090-3ipklh0193arf6s0k9gpmcpfpg11t5o1</string>
	<key>API_KEY</key>
	<string>AIzaSyBwinswCzIuvQnpbKjvb_wPE7klZhPqz3E</string>
	<key>GCM_SENDER_ID</key>
	<string>709155097090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>faceticket-27f12</string>
	<key>STORAGE_BUCKET</key>
	<string>faceticket-27f12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709155097090:ios:19bd48ae22bd205bb3b51b</string>
</dict>
</plist>